.header {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
   align-items: center;
    padding: 40px 30px;
}

.header-logo h1 {
    font-size: 4rem;
   
}
.header-logo {
    display: flex;
    
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
   justify-content: center;
}
.header-logo img {
    transform: rotate(45deg);
}

.header-menu a {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.3;
    padding: 10px 15px;
    color: #111111;
    text-decoration: none;
    display: block;
    border: 0.5px #111111 solid;
    transition: 0.5s;
}

.header-menu a:hover {
    background-color: #08cafa;
    
    
}

@media (max-width: 700px) {
    .header-logo {
        flex-direction: column;
    }
    .header {
        flex-direction: column;
        gap: 20px;
        padding: 20px;

    }
}